Positioned(
  top: {{ styles.top }} * screenHeight,
  left: {{ styles.left }} * screenWidth,
  child: SizedBox(
    width: {{ styles.width }} * screenWidth,
    height: {{ styles.height }} * screenHeight,
    child: StatefulBuilder(
      builder: (context, setState) {
        return Row(
          children: [
            Checkbox(
              value: isChecked_{{ component.id.replace('-', '_') }},
              onChanged: (bool? newValue) {
                setState(() => isChecked_{{ component.id.replace('-', '_') }} = newValue ?? false);
              },
              activeColor: Color(0xFF{{ styles.color[1:] }}),
            ),
            {% if component.text %}
            Text(
              {{ component.text | tojson }},
              style: TextStyle(
                fontSize: {{ styles.fontSize or 14 }},
                color: Color(0xFF{{ styles.color[1:] }}),
              ),
            ),
            {% endif %}
          ],
        );
      },
    ),
  ),
)
