<h2 class="text-xl font-bold mb-4">{{ isEdit ? "Editar" : "Crear" }} Mascota</h2>
<form (ngSubmit)="save()" class="space-y-4">
  
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Edad</label>
      <input [(ngModel)]="item['Edad']"
             name="Edad"
             class="w-full border border-gray-300 rounded px-3 py-2"
             required />
    </div>
  
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Nombre</label>
      <input [(ngModel)]="item['Nombre']"
             name="Nombre"
             class="w-full border border-gray-300 rounded px-3 py-2"
             required />
    </div>
  
    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Raza</label>
      <input [(ngModel)]="item['Raza']"
             name="Raza"
             class="w-full border border-gray-300 rounded px-3 py-2"
             required />
    </div>
  
  <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
    Guardar
  </button>
</form>